@if (profile) {
  <div class="profile-card">
    <div class="avatar-name">
      <img
        [src]="profile.avatarUrl | imgUrl"
        alt="avatar"
        class="profile-card__avatar"
      />
      <div class="profile-card-name">
        <strong class="h6"
          >{{ profile.firstName }} {{ profile.lastName }}</strong
        >
        <span class="subtitle">{{ profile.username }}</span>
      </div>
    </div>

    <div class="profile-card-description">
      {{ profile.description }}
    </div>
    <div class="profile-tags">
      @for (skill of profile.stack; track skill) {
        <div class="skill-tags">{{ skill }}</div>
      }
    </div>
    <div class="profile-card-btn">
      <button class="btn">подписаться</button>
    </div>
  </div>
}
