<img src="/assets/svg/small-logo.svg" alt="logo" class="ml16 mb20">

<nav>
    <ul class="main-menu-list">
        <li>
            <button class="menu-item">
                <img src="/assets/svg/menu.svg" alt="">
                <span>Моя страница</span>
            </button>
        </li>
        <li>
            <button class="chats-item">
                <img src="/assets/svg/chat.svg" alt="">
                <span>Чаты</span>
            </button>
        </li>
        <li>
            <button class="search-item">
                <img src="/assets/svg/search.svg" alt="">
                <span>Поиск</span>
            </button>
        </li>
    </ul>
</nav>

<p class="medium-text mb20">Подписчики</p>
<!-- <app-sub-card></app-sub-card> -->
<div class="mt20 to-subs">
    <a
    [routerLink] = "['/subcribers']"
    class="to-subs-link"
    >Все подписчики</a>
</div>