:host {
  display: block;
  padding: 20px 12px;
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  grid-gap: 12px;
  font-weight: 700;
  font-style: 14px;
  line-height: 24px;
  align-items: center;

  &:hover,
  &:focus-visible {
    background: #161616;
    color: var(--primary--color);
  }
}

.chats-item {
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  grid-gap: 12px;
  font-weight: 700;
  font-style: 14px;
  line-height: 24px;
  align-items: center;

  &:hover,
  &:focus-visible {
    background: #161616;
    color: var(--primary--color);
  }
}

.search-item {
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  grid-gap: 12px;
  font-weight: 700;
  font-style: 14px;
  line-height: 24px;
  align-items: center;

  &:hover,
  &:focus-visible {
    background: #161616;
    color: var(--primary--color);
  }
}

.to-subs {
  display: flex;
  gap: 10px;
  align-items: center;
}

.to-subs-link {
  color: var(--primary--color);
  text-decoration: none;
}
